body{
    background-color: #fc9f53;
    margin: 0;
    padding: 0;}

h1{
    color:#ceb89d;
    text-align: center;
    padding: 10px 0;
    font-size: 60px;
    font-family:Georgia, 'Times New Roman', Times, serif;}

label{
    color: #ceb89d;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 15px;}

.formulario{
    width: 60vw;
    height: 80vh;
    margin: auto;
    margin-top: 10vh;
    background-color: #2f2c2b;
    box-sizing: border-box;
    border: 1px solid transparent;
    border-radius: 20px;
    box-shadow: 0 0 10px 0 rgb(0, 0, 0);}

.divisora{margin-bottom:15px;}

input,select,option,datalist{
    background-color:#2f2c2b ;
    color: #ceb89d;
    margin: 10px;
    width: 95%;
    padding: 10px;
    border-bottom: 3px solid #fc9f536b;
    border-radius: 10px;
    box-sizing: border-box; }
    