body {
    margin: 10px;
    background: rgb(104, 104, 209);
}

.caja_1 {
    width: 90%;
    height: 100px;
    background: rgb(78, 135, 204);
    text-align: center;
    padding-bottom: 20px;
    margin: 50px 0 0 50px;
    border: 20px solid rgb(49, 73, 117);
    border-radius: 20px;
}

.caja_2 {
    width: 400px;
    height: 100px;
    background: rgb(35, 35, 74);
    color: white;
    text-align: center;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 20px;
    margin: 50px 0 0 520px;

}

.hola {
    color: rgb(255, 255, 255);
    font-size: 50px;
}

.formulario {
    width: 200px;
    height: 100px;
    background: rgb(93, 93, 174);
    margin: 50px 0 0 610px;
    padding: 30px 0 0 35px;
    border-radius: 20px;
}

.input {
    background: rgb(93, 93, 174);
    border: none;
    color: white;
    border-bottom: 2px solid rgb(24, 24, 49);
    border-left: 2px solid rgb(24, 24, 49);
    border-radius: 5px;   
}

.input_enviar {
    background: rgb(6, 6, 77);
}