
/*Se le tiene que dar la propiedad en la caja base*/
/*Se le tiene que dar la duracion de la transicion */

h1{
    color: white;
    transition-property: color;
    transition-duration: 1s;}

/*Luego el cambio en la caja a la que transciona*/
h1:hover{color: black;}



/*---Propiedades*/
h1{transition-delay: 3s;}/*El Tiempo que tiene que pasar par qeu empiece a transicionar*/
h1{transition-timing-function: ease;} /*Es para controlar el tiempo con el que una caja cambia su posicion*/
/*Se pueden usar las curvas de beizer para configurar el tiempo que tomara al incio y al final*/
/*cubic-bezier.com*/

/*Shorthand*/
h1{transition: (propiedad) (duration) (estilo de animacion) (delay);}
/*Si el shorthand se separa por comas podemos poner [2 o mas]*/

/*----Nota:----*/
/*Al modificar la duracion de la transicion en la caja padre y en la caja modificada hara que el tiempo de la caja modificada sea el tiempo que tomara en [volver] y el de la caja padre el tiempo en que [toma en hacerse]*/